<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum animi, magni et ipsam earum, quis cumque ducimus corporis perspiciatis laborum ab eius nulla. Velit possimus distinctio accusantium tempora reprehenderit minus!</p>
</body>
</html>